@font-face {
  font-family: '思源雅黑';
  src: url('../font/SourceHanSerifCN-Regular.ttf');
}
.systeminfo-container {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  font-family: '思源雅黑', 'Microsoft YaHei', sans-serif;
}
.custom-submenu .ant-menu-item {
  font-family: '思源雅黑' !important;
  font-size: 14px !important;
  padding: 8px 16px !important;
}
